* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: #F24B4B;
    --menu-underline: #B33737;
    --bg-container: #fd5b5b;

    --text: #f5f5f5;
    
    --modal-btn: #E94B4B;
}

html {
    /* cada 1rem será considerado 10px */
    font-size: 62.5%;
}

body {
    background-color: var(--bg);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Spartan', sans-serif;
    font-size: 1.6rem;
    color: var(--text);
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 800px;
    padding: 2.0rem 0;
}

header h1 {
    font-size: 3.0rem;
    font-weight: 400;
    
}

header img {
    max-width: 2.5rem;
    cursor: pointer;
    transition: 0.5s linear;
}

header img:hover {
    transform: rotate(360deg) scale(1.2);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 3.0rem auto 0;
}

.container {
    display: flex;
    max-width: 500px;
    width: 100%;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--bg-container);
    border-radius: 1.0rem;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.session {
    margin: 4.0rem 0 0;
}

.circle {
    display: flex;

    width: 25.0rem;
    height: 25.0rem;

    align-items: center;
    justify-content: center;
    margin: 4.0rem 0;

    background-color: transparent;

    border-radius: 50%;

    position: relative;
}

.circle2 {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;

    border-top: 6px solid #F2F2F2;
    border-right: 6px solid var(--bg);
    border-bottom: 6px solid var(--bg);
    border-left: 6px solid var(--bg);
    
    transform: rotate(-45deg);
    

    border-radius: 50%;
    --timer: 0s;
    --deg: -45;
    background-color: transparent;

    animation: animateCircle var(--timer) infinite;
}

@keyframes animateCircle {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(315deg);
    }
}

.timer {
    font-size: 5.0rem;
    font-weight: 500;
}

.button {
    display: flex;
    width: 60%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 1.0rem 0 4.0rem;
}

.btn-start {
    padding: 0.5rem;

    background-color: transparent;
    color: var(--text);

    border: none;

    font-size: 1.5rem;
    font-weight: 600;

    cursor: pointer;

    position: relative;
}

.btn-start::before,
.btn-pause::before,
.btn-stop::before,
.btn-reset::before{
    content: '';
    position: absolute;

    bottom: 0px;
    left: 0px;

    width: 0;
    height: 0;

    border-bottom: 3px solid transparent;
}

.btn-start:hover::before,
.btn-pause:hover::before,
.btn-stop:enabled:hover::before,
.btn-reset:enabled:hover::before{
    animation: animate-menu 0.3s ease-in-out forwards;
    font-weight: 700;
}

.btn-pause {
    position: relative;
}

.btn-stop {
    padding: 0.5rem;

    background-color: transparent;
    color: var(--text);

    border: none;

    font-size: 1.5rem;
    font-weight: 600;

    cursor: pointer;
    transition: 0.5s;

    position: relative;
}

.btn-stop:disabled {
    opacity: 0.2;
    cursor:no-drop;
}

.btn-reset {
    padding: 0.5rem;

    background-color: transparent;
    color: var(--text);

    border: none;

    font-size: 1.5rem;
    font-weight: 600;

    cursor: pointer;
    transition: 0.5s;

    position: relative;
}

.btn-reset:disabled {
    opacity: 0.2;
    cursor:no-drop;
}

@keyframes animate-menu {
    0% {
        width: 0;
        height: 0;
        border-bottom: 3px solid var(--menu-underline);
    }

    100% {
        width: 100%;
        height: 0;
        border-bottom: 3px solid var(--menu-underline);
    }
}

/* --------------- MODAL ----- */
.modal-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.555);    
}

.modal-wrapper.active {
    display: flex;
}

.modal {
    display: flex;
    max-width: 500px;
    width: 95%;
    padding: 8.0rem 2.0rem;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    background-color: rgba(255, 255, 255, 0.952);
    color: #000;
    border-radius: 1.5rem 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
}

.modal h1 {
    margin-bottom: 0.5rem;
}

.modal p {
    margin-bottom: 2.0rem;
    font-size: 1.2rem;
}

.modal .working {
    margin-top: 2.0rem;
    margin-bottom: 3.0rem;
}

.modal input {
    width: 7.0rem;
    padding: 0.6rem 1.0rem;

    font-size: 2.0rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem 0;

    text-align: center;
    margin-left: 1.0rem;
}

.modal input:focus {
    outline: none;

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.185);
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 15px;

    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.modal .close:hover {
    color: var(--modal-btn);
    font-weight: 700;
}

.modal .btn-save {
    padding: 1.0rem 2.0rem;
    margin-top: 4.0rem;

    background: var(--modal-btn);
    color: #fff;
    border-radius: 0.8rem 0;

    font-weight: 700;
    transition: filter .2s;
    cursor: pointer;
}

.modal .btn-save:hover {
    filter: brightness(1.2);
}


@media (max-width: 982px) {
    html {
        font-size: 50%;
    }
}