* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red-tomato: #F24B4B;
    --red-dark: #B33737;
    --red-bg: #fd5b5b;
    --red-bg-sec: #D94343;

}

html {
    /* cada 1rem será considerado 10px */
    font-size: 62.5%;
}

body {
    background-color: var(--red-tomato);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Spartan', sans-serif;
    font-size: 1.6rem;
    color: #F2F2F2;
    width: 100%;
    height: 100%;
}

header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 40%;
    max-width: 800px;

    margin: 1.0rem auto;

    border-bottom: 1px solid var(--red-dark);
    padding: 2.0rem 0 1.0rem 0;
}

header h1 {
    font-size: 3.0rem;
    font-weight: 400;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 2.0rem auto;
}

.container {
    display: flex;
    max-width: 500px;
    width: 100%;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--red-bg);
    border-radius: 1.0rem;
}

.circle {
    display: flex;

    width: 25.0rem;
    height: 25.0rem;

    align-items: center;
    justify-content: center;
    margin: 4.0rem 0;

    border: 6px solid #F2F2F2;
    border-radius: 50%;
}

.timer {
    font-size: 5.0rem;
    font-weight: 500;
}

.button {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin: 1.0rem 0 4.0rem;
}

.btn-start {
    padding: 1.0rem 5.0rem;
    margin-right: 2.0rem;

    background-color: #F2F2F2;
    color: var(--red-bg);

    border-radius: 0.5rem;

    font-size: 2.0rem;
    font-weight: 600;

    cursor: pointer;
}

.btn-start:hover {
    /*border: 1px solid #12A63C;*/
    background-color: #5DBF28;
    color: #fff;
}

.btn-stop {
    padding: 1.0rem 5.0rem;

    background-color: #F2F2F2;
    color: var(--red-bg);

    border-radius: 0.5rem;

    font-size: 2.0rem;
    font-weight: 600;

    cursor: pointer;
}

.btn-stop:hover {
    background-color: var(--red-dark);
    color: #fff;
}
